html{
 /* 10px default    */
 font-size: 62.5%;
 box-sizing: border-box;
}

body{
margin:0;
padding: 0;
font-family: 'Monserrat', sans-serif;
}


/* navbar */
/* sidebar */
.sidebar {
    width: 8rem;
    height:100%;
    background-color: #eee;
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.menu-icon{
margin-top: 3rem;
cursor: pointer;
}



.line{
    height:.2rem;
    width:2.5rem;
    background-color: #222;
    margin-bottom: .6rem;
}

.line-1, .line-3{
    width:1.8rem;
    transition: width .3s;
}

.menu-icon:hover .line{
    width:2.5rem;
    }

    .social-icons-list{
        list-style: none;
        padding:0;
        height: 25rem;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .social-link{
        font-size:2rem;
        color: #777;
    }

    .social-link:hover{
        color:#deaa86;
        transition:color .3s;
    }


    .year{
        margin-bottom: 1rem;
        font-size: 1.5rem;
        color: #555;
    }
/* sidebar end */

/* navigation */
.navigation{
    margin-left: 8rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top,rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)), url(../img/nav-bg.jpeg) center no-repeat;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    color: #deaa86;
}

.navigation-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-align: center;
}

.navigation-search-input{
    width: 30rem;
    padding: 1rem 2rem;
    background-color: rgba(0,0,0,.3);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    color: #deaa86;
    letter-spacing: .1rem;
    outline: none;
    transition: background-color .3s;
    border: .1rem solid #555;
    border-radius: 10rem;
}

.navigation-search-input:focus{
    background-color: rgba(0,0,0,.1)
}


/* .navigation-search{
    position: relative;
} */


 .navigation-search-btn{
     border:none;
     background-color: transparent;
     color: #deaa86;
     font-size: 1.7rem;
     
     cursor: pointer;
     outline:none;
     /* position:absolute; */
     
 }

.navigation-list{
    list-style: none;
    padding: 0;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.navigation-item{
    position: relative;
}

.navigation-link{
    color: #fff;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color .5s;
    
}

.navigation-link::before{
    content:'';
    width:0rem;
    height:.1rem;
    background-color: #deaa86;
    position:absolute;
    top:.6rem;
    left:-4rem;
    transition: width .5s;
   
}
.navigation-link::after{
    content:'';
    width:0rem;
    height:.1rem;
    background-color: #deaa86;
    position:absolute;
    top:.6rem;
    right:-4rem;
    transition: width .5s;
    
}

.navigation-link:hover {
    color:#deaa86;
}

.navigation-link:hover::before,
.navigation-link:hover::after{
    width:3rem;
}

.copyright{
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}
/* navigation end */
/* navbar end */